

.btn-pin-container {
  height: 100%;
}

.btn-pin {
  font-size: 6em !important;
  padding: 0.15em 0.70em !important;
}

.btn-pin-clear {
  font-size: 6em !important;
  padding: 0.15em 0.54em !important;
}

.btn-pin-check-circle {
  border-radius: 50%;
}


.pin-code-background {
  background-color: #FFFFFF;
}

.pin-circle {
  font-size: 4em !important;
  padding: 0 33px;
}

.pin-circle-solid {
  font-size: 4em !important;
  padding: 0 33px;
  border-radius: 50%;
  background-color: #0a0f16;
}

.pin-circle-100 {

}
